## Deliverable 2. Create a Customer Travel Destinations Map.

In [149]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [150]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:\\Users\\mabuc\\Documents\\Classwork\\Module-6 WeatherPy with Python APIs\\World_Weather_Analysis\\Weather_Database\\WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kashary,RU,49.0400,41.0056,79.68,48,33,3.15,scattered clouds
1,1,Havelange,BE,50.3833,5.2333,55.67,96,25,4.47,scattered clouds
2,2,Ngunguru,NZ,-35.6167,174.5000,64.17,61,33,8.81,scattered clouds
3,3,Kenai,US,60.5544,-151.2583,74.03,49,1,9.22,clear sky
4,4,Los Chiles,CR,11.0333,-84.7167,74.08,95,100,2.91,overcast clouds

In [152]:
# 2. Prompt the user to enter minimum and maximum temperature criteria.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [153]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kashary,RU,49.0400,41.0056,79.68,48,33,3.15,scattered clouds
7,7,Faanui,PF,-16.4833,-151.7500,77.90,71,24,14.72,few clouds
13,13,Touros,BR,-5.1989,-35.4608,76.10,80,8,15.84,clear sky
16,16,Kavieng,PG,-2.5744,150.7967,82.81,78,9,10.58,light rain
20,20,San Cristobal,VE,7.7669,-72.2250,75.38,98,100,5.86,overcast clouds
24,24,Damietta,EG,31.4165,31.8133,78.69,67,0,6.31,clear sky
25,25,Hithadhoo,MV,-0.6000,73.0833,81.59,72,82,7.11,broken clouds
31,31,Atuona,PF,-9.8000,-139.0333,77.43,68,18,11.48,few clouds
34,34,Kapaa,US,22.0752,-159.3190,85.98,75,75,4.00,broken clouds
39,39,Naze,JP,28.3667,129.4833,85.12,86,89,17.60,overcast clouds

In [154]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                237
City                   237
Country                237
Lat                    237
Lng                    237
Max Temp               237
Humidity               237
Cloudiness             237
Wind Speed             237
Current Description    237
dtype: int64

In [155]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kashary,RU,49.0400,41.0056,79.68,48,33,3.15,scattered clouds
7,7,Faanui,PF,-16.4833,-151.7500,77.90,71,24,14.72,few clouds
13,13,Touros,BR,-5.1989,-35.4608,76.10,80,8,15.84,clear sky
16,16,Kavieng,PG,-2.5744,150.7967,82.81,78,9,10.58,light rain
20,20,San Cristobal,VE,7.7669,-72.2250,75.38,98,100,5.86,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,Takaungu,KE,-3.6837,39.8566,75.29,87,16,12.28,few clouds
684,684,Acaponeta,MX,22.4964,-105.3594,77.45,90,95,3.38,overcast clouds
685,685,Samana,DO,19.2056,-69.3369,78.71,86,100,8.39,overcast clouds
687,687,La Cruz,MX,23.9167,-106.9000,80.49,75,100,7.92,overcast clouds
689,689,Ban Chang,TH,12.7254,101.0553,86.49,74,20,11.50,few clouds

In [156]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kashary,RU,79.68,scattered clouds,49.0400,41.0056,
7,Faanui,PF,77.90,few clouds,-16.4833,-151.7500,
13,Touros,BR,76.10,clear sky,-5.1989,-35.4608,
16,Kavieng,PG,82.81,light rain,-2.5744,150.7967,
20,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,
24,Damietta,EG,78.69,clear sky,31.4165,31.8133,
25,Hithadhoo,MV,81.59,broken clouds,-0.6000,73.0833,
31,Atuona,PF,77.43,few clouds,-9.8000,-139.0333,
34,Kapaa,US,85.98,broken clouds,22.0752,-159.3190,
39,Naze,JP,85.12,overcast clouds,28.3667,129.4833,

In [157]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [158]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Faanui,PF,77.90,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
13,Touros,BR,76.10,clear sky,-5.1989,-35.4608,INN NEW HORIZON
16,Kavieng,PG,82.81,light rain,-2.5744,150.7967,Nusa Island Retreat
20,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,Posada Villaven C.A.
24,Damietta,EG,78.69,clear sky,31.4165,31.8133,SULIMAN INN
...,...,...,...,...,...,...,...
682,Takaungu,KE,75.29,few clouds,-3.6837,39.8566,Takaungu House
684,Acaponeta,MX,77.45,overcast clouds,22.4964,-105.3594,Hotel Casa Blanca
685,Samana,DO,78.71,overcast clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
687,La Cruz,MX,80.49,overcast clouds,23.9167,-106.9000,LIBERADOR DE CELULAS MADRE ADULTAS
689,Ban Chang,TH,86.49,few clouds,12.7254,101.0553,Grand Garden Hotel

In [159]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [160]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [161]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))